* {
  margin: 0 auto;
  font-size: 110%;

  background-color: black;
  color:white;
}

header {
  margin-top: 3%;
  padding: 3% 3% 3% 3%;
  background-color: #661686;
}

body {
  }

ul {
  display: inline;
  background-color: #661686;
}

li {
  display: inline;
  padding:
  background-color: #661686;
}

img {
  display: inline;
}

.template {
  display: none;
}

.work {
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 10%;
}

.side {
  background-color: white;
}

#splash {
  margin: 0 auto;
  display: block;
}

#primary {
  margin: 0 auto;
}

#moi {
  float: right;
}

#deGuerre {
  display: ;
  margin: 0 auto;
}
