* {
  margin: 0 auto;
  font-size: 110%;
  border-width: 5px;
  border-style: dotted;
  border-color: purple;
}

header {
  margin-top: 3%;
  padding: 3% 3% 3% 3%;
  background-color: #661686;
}

body {
  width:80%;
  color: white;
  font-family: 'Cabin', sans-serif;
  }

ul {
  display: inline;
}

li {
  display: inline;
}

img {
  display: inline;
}

.template {
  display: none;
}

.work {
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 10%;
}

#splash {
  margin: 0 auto;
  display: block;
}

#moi {
  float: right;
}

#deGuerre {
  display: ;
  margin: 0 auto;
}
